<div class="row">
  <% @posts.each do |post| %>
    <div class="col-6 left-column">
      <div class="card position-relative mb-3" id="post-cards-<%= post.id %>">
        <div class="post-options">
          <div>
            <button id="posts-delete-button-<%= post.id %>"  class="transparent-button d-block">
              <span class="icon">
                <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15 4V12M15 16C15 17.1046 14.1046 18 13 18H5C3.89543 18 3 17.1046 3 16V11M3 4V7M12 4V3C12 1.89543 11.1046 1 10 1H8C6.89543 1 6 1.89543 6 3V4M1 4H17M7 8V14M11 8V14" stroke="#8692A6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
              <span class="text">Move To Trash</span>
            </button>
          </div>
          <div>
            <a class="transparent-button" href="posts/<%= post.id %>/edit">
                                <span class="icon">
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17 1H17.75C17.75 0.585786 17.4142 0.25 17 0.25V1ZM17 17V17.75C17.4142 17.75 17.75 17.4142 17.75 17H17ZM9 16.25C8.58579 16.25 8.25 16.5858 8.25 17C8.25 17.4142 8.58579 17.75 9 17.75V16.25ZM0.25 9C0.25 9.41421 0.585786 9.75 1 9.75C1.41421 9.75 1.75 9.41421 1.75 9H0.25ZM1 1V0.25C0.585786 0.25 0.25 0.585786 0.25 1L1 1ZM9 1.75C9.41421 1.75 9.75 1.41421 9.75 1C9.75 0.585786 9.41421 0.25 9 0.25V1.75ZM13 0.25C12.5858 0.25 12.25 0.585786 12.25 1C12.25 1.41421 12.5858 1.75 13 1.75V0.25ZM10 4L10.5303 3.46967C10.2374 3.17678 9.76256 3.17678 9.46967 3.46967L10 4ZM14 8L14.5303 8.53033C14.8232 8.23744 14.8232 7.76256 14.5303 7.46967L14 8ZM5 17V17.75C5.19891 17.75 5.38968 17.671 5.53033 17.5303L5 17ZM1 17H0.25C0.25 17.4142 0.585786 17.75 1 17.75L1 17ZM1 13L0.46967 12.4697C0.329018 12.6103 0.25 12.8011 0.25 13H1ZM8.03033 15.0303C8.32322 14.7374 8.32322 14.2626 8.03033 13.9697C7.73744 13.6768 7.26256 13.6768 6.96967 13.9697L8.03033 15.0303ZM9.46967 11.4697C9.17678 11.7626 9.17678 12.2374 9.46967 12.5303C9.76256 12.8232 10.2374 12.8232 10.5303 12.5303L9.46967 11.4697ZM16.25 1V17H17.75V1H16.25ZM17 16.25H9V17.75H17V16.25ZM1.75 9V1H0.25V9H1.75ZM1 1.75H9V0.25H1V1.75ZM13 1.75H17V0.25H13V1.75ZM9.46967 4.53033L13.4697 8.53033L14.5303 7.46967L10.5303 3.46967L9.46967 4.53033ZM5 16.25H1V17.75H5V16.25ZM1.75 17V13H0.25V17H1.75ZM6.46967 7.53033L10.4697 11.5303L11.5303 10.4697L7.53033 6.46967L6.46967 7.53033ZM6.96967 13.9697L4.46967 16.4697L5.53033 17.5303L8.03033 15.0303L6.96967 13.9697ZM13.4697 7.46967L10.4697 10.4697L11.5303 11.5303L14.5303 8.53033L13.4697 7.46967ZM10.4697 10.4697L9.46967 11.4697L10.5303 12.5303L11.5303 11.5303L10.4697 10.4697ZM1.53033 13.5303L7.53033 7.53033L6.46967 6.46967L0.46967 12.4697L1.53033 13.5303ZM7.53033 7.53033L10.5303 4.53033L9.46967 3.46967L6.46967 6.46967L7.53033 7.53033Z" fill="#8692A6"/>
                                    </svg>
                                </span>
              <span class="text">Edit Post</span>
            </a>
          </div>
          <div>
            <a href="/posts/<%= post.id %>/send_email_notification" data-remote="true" class=" transparent-button">
                                <span class="icon">
                                    <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.5 1.5L3 3M18.5 1.5L11.4142 8.58579C10.6332 9.36684 9.36683 9.36683 8.58579 8.58579L5.5 5.5M16 15H18C18.5523 15 19 14.5523 19 14V2C19 1.44772 18.5523 1 18 1H2C1.44772 1 1 1.44772 1 2V14C1 14.5523 1.44772 15 2 15H12" stroke="#8692A6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
              <span class="text">Send Email Notification</span>
            </a>
          </div>
        </div>
        <button class="post-info" id="post-edit-delete-<%= post.id %>">
          <svg width="17" height="4" viewBox="0 0 17 4" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.8653 1.88463C16.8653 2.92548 16.0445 3.76926 15.0321 3.76926C14.0196 3.76926 13.1989 2.92548 13.1989 1.88463C13.1989 0.843777 14.0196 0 15.0321 0C16.0445 0 16.8653 0.843777 16.8653 1.88463Z" fill="#696969"/>
            <path d="M10.2658 1.88463C10.2658 2.92548 9.44507 3.76926 8.43263 3.76926C7.42019 3.76926 6.59945 2.92548 6.59945 1.88463C6.59945 0.843777 7.42019 0 8.43263 0C9.44507 0 10.2658 0.843777 10.2658 1.88463Z" fill="#696969"/>
            <path d="M3.66636 1.88512C3.66636 2.92597 2.84562 3.76975 1.83318 3.76975C0.820742 3.76975 0 2.92597 0 1.88512C0 0.844265 0.820742 0.000488281 1.83318 0.000488281C2.84562 0.000488281 3.66636 0.844265 3.66636 1.88512Z" fill="#696969"/>
          </svg>
        </button>
        <div class="card-body">
          <h5 class="post_title"><%= post.title %></h5>
          <div class="user_detail row">
            <img class="thumb" src="<%= current_user.image_url %>"/>
            <div>
              <h6 class="user-name"><%= current_user.name %></h6>
            </div>
          </div>
          <div class="post_comments">
            <p class="comment-<%= post.id %>">
              <%= post.commentries&.first&.description %>
            </p>
            <div class="comment_navigation_wrap">
              <div class="row">
                <div class="button_wrap post-commentries-previous-button-<%= post.id %> single_button">
                  <button class="previous_button transparent-button position-relative" id="post-previous-commentry-<%= post.id %>">
                    <span>
                      <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.4583 8.5L4.54167 8.5L7.70833 5.33333M7.70833 11.6667L6.125 10.0833M14.8844 5.33333C15.3584 6.28726 15.625 7.3625 15.625 8.5C15.625 12.435 12.435 15.625 8.5 15.625C4.56497 15.625 1.375 12.435 1.375 8.5C1.375 4.56497 4.56497 1.375 8.5 1.375C9.9647 1.375 11.3262 1.81696 12.4583 2.57481" stroke="#90A1B5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </span>
                    <span class="text">
                        Previous
                      </span>
                  </button>
                  <% if post.commentries.size > 1 %>
                    <button class="next_button transparent-button" id="post-next-commentry-<%= post.id %>">
                      <span class="text">Next commentary</span>
                      <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.54167 8.5L12.4583 8.5L9.29167 11.6667M9.29167 5.33333L10.875 6.91667M2.11562 11.6667C1.64156 10.7127 1.375 9.6375 1.375 8.5C1.375 4.56497 4.56497 1.375 8.5 1.375C12.435 1.375 15.625 4.56497 15.625 8.5C15.625 12.435 12.435 15.625 8.5 15.625C7.0353 15.625 5.67383 15.183 4.54167 14.4252" stroke="#90A1B5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </button>
                  <% end %>
                </div>
                <% if post.commentries.size > 0 %>
                  <span class="pagination"><span id="post-commetries-count-<%= post.id %>">1</span>/<%= post.commentries.size %></span>
                <% end %>
              </div>
            </div>
          </div>
          <div class="post_image_wrap">
            <% if post.image.attached? %>
              <img src="<%= post.image.url %>">
            <% end %>
            <p class="text"><%= post.commentries&.first&.description %></p>
            <% unless post.main_url.nil? || post.main_url.blank? %>
              <div class="post-desc">
                <a href="<%= post.main_url %>" class="post-link"><%= post.main_url.gsub("http://", "") %></a>
              </div>
            <% end %>
          </div>
          <div class="shared-count">
            <% if post.shared_count > 0 %>
              <span class="icon">
                <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.05923 7.79771V8.97937C5.56148 8.79845 5.02877 8.74295 4.50583 8.81755C3.9829 8.89214 3.48501 9.09464 3.05397 9.40805C2.62293 9.72146 2.27134 10.1366 2.02871 10.6187C1.78608 11.1007 1.6595 11.6356 1.6596 12.1783L0.559693 12.1778C0.559522 11.4874 0.713086 10.8061 1.00862 10.1861C1.30415 9.56617 1.73381 9.024 2.26467 8.60114C2.79553 8.17829 3.4135 7.88598 4.07123 7.74662C4.72896 7.60726 5.409 7.62454 6.05923 7.79714V7.79771ZM4.95932 7.08984C3.13623 7.08984 1.6596 5.57177 1.6596 3.69751C1.6596 1.82324 3.13623 0.305176 4.95932 0.305176C6.78242 0.305176 8.25905 1.82324 8.25905 3.69751C8.25905 5.57177 6.78242 7.08984 4.95932 7.08984ZM4.95932 5.95906C6.17472 5.95906 7.15914 4.94702 7.15914 3.69751C7.15914 2.448 6.17472 1.43595 4.95932 1.43595C3.74393 1.43595 2.75951 2.448 2.75951 3.69751C2.75951 4.94702 3.74393 5.95906 4.95932 5.95906ZM8.58132 9.35139L7.57545 8.31786L8.35364 7.51784L10.6865 9.91678L8.35364 12.3157L7.57545 11.5157L8.58132 10.4822H6.60919V9.35139H8.58132Z" fill="#697882"/>
                </svg>
              </span>
              <span class="text"><%= post.shared_count %> other people have shared this</span>
            <% end %>
          </div>
          <div class="post-tags">
            <% post.tags.each do |tag| %>
              <span class="badge badge-primary"><%= tag.name %></span>
            <% end %>
          </div>
          <div class="social-media-wrap">
            <p class="control-label">Available Platform</p>
            <div class="d-flex">
              <div class="icon-wrap">
                    <span>
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.7548 0H1.41559C0.632897 0 0 0.63526 0 1.42067V18.2878C0 19.0732 0.632897 19.7123 1.41559 19.7123H17.7548C18.5375 19.7123 19.1742 19.0732 19.1742 18.2916V1.42067C19.1742 0.63526 18.5375 0 17.7548 0ZM5.68859 16.7978H2.84242V7.38826H5.68859V16.7978ZM4.2655 6.10619C3.35174 6.10619 2.61398 5.34773 2.61398 4.41217C2.61398 3.4766 3.35174 2.71814 4.2655 2.71814C5.17553 2.71814 5.91329 3.4766 5.91329 4.41217C5.91329 5.34388 5.17553 6.10619 4.2655 6.10619ZM16.3392 16.7978H13.4968V12.2239C13.4968 11.1344 13.4781 9.7291 12.0176 9.7291C10.5383 9.7291 10.3136 10.9188 10.3136 12.1469V16.7978H7.47493V7.38826H10.2013V8.67418H10.2387C10.6169 7.93497 11.5457 7.15341 12.9276 7.15341C15.8075 7.15341 16.3392 9.10154 16.3392 11.6349V16.7978Z" fill="#8692A6"/>
                      </svg>
                    </span>
              </div>
              <% if post.draft? %>
                <a href="/posts/<%= post.id %>/edit" class="btn btn-outline-primary">Draft</a>
              <% else %>
                <a href="/posts/<%= post.id %>" class="btn btn-primary">Share</a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
    $(document).ready(function() {
      post_list()
  })

    $(window).on("load", function() {
        post_list()
    })

  function post_list(){
      <% @posts.each do |post| %>

      $("#posts-delete-button-<%= post.id %>").click(function(){
          $(".dashboard_wrap").addClass("show-alert")
          $("#alert-popup").html("<%= escape_javascript (render partial: 'shared/alert', locals: { text: "post", url: "/posts/" + post.id.to_s  }) %>")

          $.ajax({
              url: "/posts/" + <%= post.id %>,
              method: "delete",
              dataType: 'script'
          });

      })


      $(document).on("click", "#post-edit-delete-<%= post.id %>", function () {
          var classes = $("#post-cards-<%= post.id %>").attr("class")
          if (classes.split(" ").includes('show-post-option')) {
              $("#post-cards-<%= post.id %>").removeClass("show-post-option")
          } else {
              $("#post-cards-<%= post.id %>").addClass("show-post-option")
          }
      })

      $("#post-next-commentry-<%= post.id %>").click(function () {
          <%= "post_commentry_button_#{post.id}" %>("next")
      })

      $("#post-previous-commentry-<%= post.id %>").click(function () {
          <%= "post_commentry_button_#{post.id}" %>("prevoius")
      })

      function <%= "post_commentry_button_#{post.id}" %>(button) {

          var <%= "cycle_count_#{post.id}" %> = button == "next" ? (parseInt($("#post-commetries-count-<%= post.id %>").text()) + 1) : (parseInt($("#post-commetries-count-<%= post.id %>").text()) - 1)
          $("#post-commetries-count-<%= post.id %>").text(<%= "cycle_count_#{post.id}" %>)

          $(".comment-<%= post.id %>").empty()
          var <%= "commentries_#{post.id}" %> = []

          <% post.commentries.each do |commentry| %>
          <%= "commentries_#{post.id}" %>.push(`<%= commentry.description.to_s %>`)
          <% end %>

          var <%= "comment_count_#{post.id}" %> = <%= "cycle_count_#{post.id}" %> - 1
          if ("<%= "comment_count_#{post.id}" %>" == 0) {
              $(".post-commentries-previous-button-<%= post.id %>").addClass("single_button")
              $(".comment-<%= post.id %>").append(<%= "commentries_#{post.id}" %>[<%= "comment_count_#{post.id}" %>])
          } else {
              $(".post-commentries-previous-button-<%= post.id %>").removeClass("single_button")
              $(".comment-<%= post.id %>").append(<%= "commentries_#{post.id}" %>[<%= "comment_count_#{post.id}" %>])
          }

          if (<%= "cycle_count_#{post.id}" %> >= <%= post.commentries.size %>) {
              $("#post-next-commentry-<%= post.id %>").hide()
              $("#post-previous-commentry-<%= post.id %>").show()
          } else if(<%= "cycle_count_#{post.id}" %> <= 1) {
              $("#post-previous-commentry-<%= post.id %>").hide()
              $("#post-next-commentry-<%= post.id %>").show()
          }else {
              $("#post-previous-commentry-<%= post.id %>").show()
              $("#post-next-commentry-<%= post.id %>").show()
          }
      }
      <% end %>

  }
</script>