<input type="hidden" id="commentries_count" value="<%= @post.new_record? ? 1 : @post.commentries.size %>">
<script>

    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            trigger: 'hover',
            html: true,
            offset: 155
        })

        <% if @post.new_record? %>
        $("#remove-image-text").hide()
        <% else %>
        <% if @post.image.attached? %>
        $("#upload-image-text").hide()
        $("#preview-image-button").css("z-index", "2")
        <% else %>
        $("#remove-image-text").hide()
        <% end %>
        <% end %>

        var commentries_count = <%= @post.new_record? ? 1 : @post.commentries.size %>
        var preview_image_url = ""

        $(document).on("input", "#post_title", function () {
            render_html()
            $("#preview-post-title").text($(this).val())
        })

        $(document).on("input", "#post_main_url", function () {
            render_html()
            $("#preview-post-title").text($("#post_title").val())
        })

        $(document).on("change", "#post_main_url", function () {
            get_image_from_url($("#post_main_url").val())
        })

        $(document).on("input", "#post_commentries_attributes_1__description", function () {
            render_html()
            $("#preview-post-title").text($("#post_title").val())
        })

        <% unless @post.new_record? %>
        <% 2.upto(@post.commentries.count) do |num| %>
        $(document).on("input", "#post_commentries_attributes_<%= num %>__description", function () {
            render_html()

            if ($(`#post_commentries_attributes_<%= num %>__description`).val()?.length > 0) {
                $(".preview-post-pagination").html(`<span class="current-commentry-index"><%= num %></span>/ <span class="preview-commentries-count"><%= num %></span>`)
            }

            $(".comment").html($(`#post_commentries_attributes_<%= num %>__description`).val()?.replace(/(?:\r\n|\r|\n)/g, '<br>'))

            if ((<%= num %>) == <%= @post.commentries.count %>) {
                $(".post-next-commentry-button").hide()
                $(".post-previous-commentry-button").show()
            } else if (<%= num <= 1  %>) {
                $(".post-next-commentry-button").show()
                $(".post-previous-commentry-button").hide()
            } else {
                $(".post-next-commentry-button").show()
                $(".post-previous-commentry-button").show()
            }

            $(".current-commentry-index").text(<%= num %>)

            $("#preview-post-title").text($("#post_title").val())
        })
        <% end %>
        <% end %>

        $("#post_image").change(function () {
            render_html()
            $("#preview-post-title").text($("#post_title").val())
        })

        function render_html() {

            if ($("#post_title").val()?.length > 0 || $("#post_main_url").val()?.length > 0 || $("#post_commentries_attributes_1__description").val()?.length > 0 || $("#post_image")[0].files[0]) {
                $('#preview-post').html("<%= escape_javascript (render partial: 'posts/partials/preview_post') %>");

                if ($("#post_commentries_attributes_1__description").val()?.length > 0) {
                    $(".preview-post-pagination").html(`<span class="current-commentry-index">1</span>/ <span class="preview-commentries-count">1</span>`)
                }

                if (commentries_count == 1) {
                    $(".post-next-commentry-button").hide()
                } else {
                    if ($("#post_commentries_attributes_1__description").val()?.length > 0) {
                        $(".post-next-commentry-button").show()
                    } else {
                        $(".post-next-commentry-button").hide()
                    }
                }

                $(".preview-commentries-count").text(commentries_count)

                if ($("#post_main_url").val().length > 0) {
                    $("#preview-post-link").empty()
                    var name = $("#post_main_url").val().replace("http://", "")
                    $("#preview-post-link").append("<div class='post-desc'><a href=" + $("#post_main_url").val() + " class='post-link'>" + name + "</a></div>")
                    preview_image_from_url()
                }


               $("#preview-post-comment-1").html($("#post_commentries_attributes_1__description").val()?.replace(/(?:\r\n|\r|\n)/g, '<br>'))

                <% if @post.image.attached? %>
                if ($("#remove-image-text").is(":visible")) {
                    $("#preview-post-image").html(` <img src='<%= @post.image.url %>' style='height: 13rem;'/>`)
                }
                <% end %>

                if ($("#post_image")[0].files[0]) {

                    if ($("#post_image")[0].files[0].size > 5242880) {
                        alert("Please upload image less than 5 mb")
                    } else {
                        $("#preview-post-image").empty()
                        $("#upload-image-text").hide()
                        $("#remove-image-text").show()
                        $("#preview-post-image").append(` <img src='${URL.createObjectURL($("#post_image")[0].files[0])}' style='height: 13rem;'/>`)
                        $("#preview-image-button").css("z-index", "2")
                    }
                }

            } else {
                $('#preview-post').html("<%= escape_javascript (render partial: 'posts/partials/empty_preview') %>");
            }
        }

        $("#preview-image-button").click(function () {
            $("#post_image").val("")
            <% if @post.image.attached? %>
            $.ajax({
                url: "/posts/<%= @post.id %>/destroy_image",
                headers: {'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')},
                method: "delete"
            });
            <% end %>
            $("#preview-post-image").empty()
            $("#remove-image-text").hide()
            $("#upload-image-text").show()
            $("#preview-image-button").removeAttr("style")
            preview_image_from_url()
        })

        $('form').on('click', '.add_fields', function (event) {
            commentries_count += 1
            $("#commentries_count").val(commentries_count)

            $(".preview-commentries-count").text(commentries_count)

            <% if @post.new_record? %>
            if (commentries_count == 1) {
                $(".post-next-commentry-button").hide()
            } else {
                if ($("#post_commentries_attributes_1__description").val().length > 0) {
                    $(".post-next-commentry-button").show()
                } else {
                    $(".post-next-commentry-button").hide()
                }
            }
            <% else %>
            if (commentries_count == 1) {
                $("#post-next-commentry").hide()
            } else {
                $("#post-next-commentry").show()
            }
            <% end %>


            var regexp;
            regexp = new RegExp($(this).data('id'), 'g');

            $('.fields').append($(this).data('fields').replace(regexp, commentries_count));
            $('.fields').append("<%= escape_javascript (render partial: 'posts/partials/commentries_js') %>")
            return event.preventDefault();
        });

        <% unless @post.new_record? %>

        <% if @post.commentries.size > 1 %>
        $("#post-next-commentry").show()
        <% else %>
        $("#post-next-commentry").hide()
        <% end %>

        $("#post-next-commentry").click(function () {
            post_commentry("next")
        })

        $("#post-previous-commentry").click(function () {
            post_commentry("prevoius")
        })

        function post_commentry(button) {

            var cycle_count = button == "next" ? (parseInt($(".current-commentry-index").text()) + 1) : (parseInt($(".current-commentry-index").text()) - 1)
            $(".current-commentry-index").text(cycle_count)

            $(".comment").empty()
            $(".share-content").empty()
            var commentries = []

            var commetry_count = $(".preview-commentries-count").text()

            for (var i = 1; i <= commetry_count; i++) {
                if ($(`#post_commentries_attributes_${i}__description`).length > 0) {
                    commentries.push($(`#post_commentries_attributes_${i}__description`).val())
                } else {
                    commentries.push($(`#post_commentries_attributes_${i}_description`).val())
                }
            }

            var comment_count = cycle_count - 1
            if (comment_count == 0) {
                $(".post-commentries-previous-button").addClass("single_button")
                $(".comment").html(commentries[comment_count].replace(/(?:\r\n|\r|\n)/g, '<br>'))
                $(".share-content").append(`<p contenteditable="true" id="post-share-content">${commentries[comment_count]}</p>`)
            } else {
                $(".post-commentries-previous-button").removeClass("single_button")
                $(".comment").html(commentries[comment_count].replace(/(?:\r\n|\r|\n)/g, '<br>'))
                $(".share-content").append(`<p contenteditable="true" id="post-share-content">${commentries[comment_count]}</p>`)
            }


            if (cycle_count >= parseInt($(".preview-commentries-count").text())) {
                $("#post-next-commentry").hide()
                $("#post-previous-commentry").show()
            } else if (cycle_count <= 1) {
                $("#post-previous-commentry").hide()
                $("#post-next-commentry").show()
            } else {
                $("#post-previous-commentry").show()
                $("#post-next-commentry").show()
            }
        }

        <% end %>

        // Ajax call to pull image from given main URL
        function get_image_from_url(main_url) {
            if (isValidHttpUrl(main_url)) {
                $.ajax({
                    url: "preview_image_from_url",
                    method: "get",
                    data: {post: {main_url: main_url}},
                    success: function (result) {
                        preview_image_url = result
                        if ($("#upload-image-text").is(":visible")) {
                            if (result == 'false') {
                                $("#preview-post-image").empty()
                            } else {
                                $("#preview-post-image").html(` <img src=${result} style='height: 13rem;'/>`)
                            }
                        }
                    }
                });
            }
        }

        function preview_image_from_url() {
            if ($("#post_main_url").val().length > 0) {
                if (preview_image_url == 'false') {
                    return
                } else if (preview_image_url.length > 0) {
                    $("#preview-post-image").html(` <img src=${preview_image_url} style='height: 13rem;'/>`)
                } else {
                    get_image_from_url($("#post_main_url").val())
                }
            }
        }

        function isValidHttpUrl(string) {
            var regex = /^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/;
            if (regex.test(string)) {
                return true;
            }
        }

    })
</script>