<div class="post_share_wrap">
  <form>

    <% if @post.platform_name.include?("facebook") %>
      <div class="form-group">
        <label class="control-label">Facebook</label>
        <div class="toggle_wrap">
          <div class="d-flex">
            <div class="left-column">
              <span class="d-inline-block align-bottom">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M25 12.5C25 5.59644 19.4036 0 12.5 0C5.59644 0 0 5.59644 0 12.5C0 18.739 4.57104 23.9104 10.5469 24.8481V16.1133H7.37305V12.5H10.5469V9.7461C10.5469 6.61328 12.4131 4.88281 15.2683 4.88281C16.6355 4.88281 18.0664 5.12695 18.0664 5.12695V8.20313H16.4902C14.9375 8.20313 14.4531 9.16675 14.4531 10.1563V12.5H17.9199L17.3657 16.1133H14.4531V24.8481C20.429 23.9104 25 18.739 25 12.5Z" fill="#1877F2"/>
                  <path d="M17.3657 16.1133L17.9199 12.5H14.4531V10.1562C14.4531 9.16772 14.9375 8.20312 16.4902 8.20312H18.0664V5.12695C18.0664 5.12695 16.636 4.88281 15.2683 4.88281C12.4131 4.88281 10.5469 6.61328 10.5469 9.74609V12.5H7.37305V16.1133H10.5469V24.8481C11.8411 25.0506 13.1589 25.0506 14.4531 24.8481V16.1133H17.3657Z" fill="white"/>
                </svg>
              </span>
              <span class="media-name d-inline-block align-bottom">Simon Thompson</span>
            </div>
            <div class="custom-control custom-switch position-relative">
              <input type="checkbox" class="custom-control-input" id="switch1" name="example">
              <label class="custom-control-label" for="switch1"></label>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if @post.platform_name.include?("twitter") %>
      <div class="form-group">
        <label class="control-label">Twitter</label>
        <div class="toggle_wrap">
          <div class="d-flex">
            <div class="left-column">
              <span class="d-inline-block align-bottom">
                <svg width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M25 2.59242C24.0801 3.03211 23.0916 3.32926 22.0541 3.46295C23.1132 2.77874 23.9264 1.69526 24.3093 0.404316C23.3025 1.0483 22.201 1.50203 21.0523 1.74589C20.1167 0.671474 18.7838 0 17.3085 0C14.4759 0 12.1793 2.47537 12.1793 5.52842C12.1793 5.96179 12.2247 6.38368 12.3121 6.78842C8.04941 6.55779 4.27012 4.35684 1.74033 1.012C1.29893 1.82853 1.046 2.77832 1.046 3.79137C1.046 5.70947 1.95156 7.40158 3.32773 8.39305C2.51323 8.36556 1.71665 8.12843 1.00449 7.70147C1.0042 7.72463 1.0042 7.74779 1.0042 7.77105C1.0042 10.4497 2.77217 12.6842 5.11846 13.1921C4.36317 13.4135 3.57093 13.4459 2.80225 13.2868C3.45488 15.4833 5.34912 17.0816 7.59346 17.1263C5.83809 18.6091 3.62646 19.4929 1.22354 19.4929C0.809473 19.4929 0.40127 19.4667 0 19.4157C2.26982 20.9843 4.96582 21.8996 7.8623 21.8996C17.2966 21.8996 22.4555 13.4753 22.4555 6.16958C22.4555 5.92979 22.4506 5.69137 22.4406 5.45432C23.4448 4.67188 24.3114 3.70275 25 2.59242Z" fill="#55ACEE"/>
                </svg>
              </span>
              <span class="media-name d-inline-block align-bottom">@Simon Thompson</span>
            </div>
            <div class="custom-control custom-switch position-relative">
              <input type="checkbox" class="custom-control-input" id="switch3" name="example">
              <label class="custom-control-label" for="switch2"></label>
            </div>
          </div>
          <di class="share-content">
            <p>
              Today, customers expect personalized experiences, 24/7 support, and instant access to brands. Learn how to
              engage buyers more effectively in this research report for 2021 📈
            </p>
          </di>
        </div>
      </div>
    <% end %>

    <% if @post.platform_name.include?("linked_in") %>
      <div class="form-group">
        <label class="control-label">LinkedIn</label>
        <div class="toggle_wrap">
          <div class="d-flex">
            <div class="left-column">
              <span class="d-inline-block align-bottom">
                <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.45937 21.875H0.924219V7.27031H5.45937V21.875ZM3.18906 5.27813C1.73906 5.27813 0.5625 4.07656 0.5625 2.62656C0.5625 1.92995 0.839226 1.26188 1.3318 0.769302C1.82438 0.276726 2.49245 0 3.18906 0C3.88567 0 4.55375 0.276726 5.04632 0.769302C5.5389 1.26188 5.81562 1.92995 5.81562 2.62656C5.81562 4.07656 4.63906 5.27813 3.18906 5.27813ZM22.4328 21.875H17.9078V14.7656C17.9078 13.0711 17.8734 10.8984 15.55 10.8984C13.1922 10.8984 12.8305 12.7391 12.8305 14.6437V21.875H8.3V7.27031H12.6492V9.2625H12.7125C13.318 8.11484 14.7969 6.90391 17.0031 6.90391C21.593 6.90391 22.4367 9.92656 22.4367 13.8523V21.875H22.4328Z" fill="#0E76A8"/>
                </svg>
              </span>
              <span class="media-name d-inline-block align-bottom"><%= current_user.linked_in_code.nil? ? "Connect to Linkedin" : "Share on Linkedin" %></span>
            </div>
            <div class="custom-control custom-switch position-relative">
              <input type="checkbox" <%= "checked" unless current_user.linked_in_code.nil? %>  class="custom-control-input" id="switch2" name="linked_in_share_switch"/>
              <label class="custom-control-label" for="switch2"></label>
              <a class="down-icon" data-toggle="collapse" href="#linkedin_content" aria-expanded="false" aria-controls="linkedin_content">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7 10L9.5 12.5M12 15L17 10" stroke="#697882" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
            </div>
          </div>
          <div class="share-content collapse" id="linkedin_content">
            <p>
             <%= @post.commentries&.first&.description %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
    <div class="buttonWrap">
      <button id="share-button" class="btn btn-primary btn-block">Share</button>
    </div>
  </form>
</div>


<script>
  $(document).ready(function (){

      $("#switch2").is(":checked") ? $("#share-button").removeAttr("disabled") : $("#share-button").attr("disabled", "true")

      $("input[name=linked_in_share_switch]").click(function (){
          if($("input[name=linked_in_share_switch]").is(":checked")){
              $("#share-button").attr("disabled", "false")
              window.open("<%= linked_in_authorizaion_url %>")
          }
          else{
              $.ajax({
                  url: "/users/delete_account",
                  method: "get",
                  dataType: 'script'
              });
              $("#share-button").attr("disabled", "true")
          }

      })

      $("#share-button").click(function (e){
          e.preventDefault()

          $.ajax({
              url: "/posts/<%= @post.id %>/share",
              method: "post",
              headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') },
              data: { commentry: $(".comment").text() }
          });
      })
  })
</script>