<div style="max-width: 680px;margin-left: auto;margin-right: auto;min-width: 680px; width: 680px; background-color: #fff;border-radius: 40px;overflow: hidden;">
  <table style="width: 100%;height: 100%;border-spacing: 0px; padding: 75px 70px 25px;">
    <tbody>
    <tr>
      <td style="display: flex;justify-content: space-between;align-items: center">
        <div style="display: flex;align-items: center">
          <span style="padding-right: 15px">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="16" cy="16" r="16" fill="#3751FF"/>
              <path d="M11 10C11 9.44772 11.4477 9 12 9H15.9905C18.2127 9 19.9333 9.60955 21.1524 10.8287C22.3841 12.0478 23 13.765 23 15.9803C23 18.2088 22.3841 19.9391 21.1524 21.1713C19.9333 22.3904 18.2127 23 15.9905 23H12C11.4477 23 11 22.5523 11 22V10Z" fill="url(#paint0_linear_35_3009)"/>
              <defs>
                <linearGradient id="paint0_linear_35_3009" x1="11" y1="9" x2="23" y2="23" gradientUnits="userSpaceOnUse">
                  <stop stop-color="white" stop-opacity="0.7"/>
                  <stop offset="1" stop-color="white"/>
                </linearGradient>
              </defs>
            </svg>
          </span>
          <span style="font-size: 16px;font-weight: 500;color: #000000; line-height: 1.1">SoVocal</span>
        </div>
        <a href="<%= ENV["APP_URL"] %>/users/sign_in" style="display: flex;align-items: center; text-decoration: none;">
          <span style="font-size: 15px;font-weight: 500;color: #75C4FA; line-height: 1.2">Visit website</span>
          <span style="padding-left: 5px">
            <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.77416 6.59406L1.61434 11.7537C1.28611 12.0821 0.753948 12.0821 0.42588 11.7537C0.0977861 11.4256 0.0977861 10.8935 0.42588 10.5654L4.99152 5.99991L0.426013 1.43457C0.0979188 1.10635 0.0979188 0.574263 0.426013 0.24617C0.754107 -0.0820565 1.28624 -0.0820565 1.61447 0.24617L6.77429 5.4059C6.93834 5.57002 7.02027 5.7849 7.02027 5.99989C7.02027 6.21498 6.93818 6.43002 6.77416 6.59406Z" fill="#75C4FA"/>
            </svg>
          </span>
        </a>
      </td>
    </tr>
    <tr>
      <td style="padding-top: 68px;">
        <p style="font-size:48px; line-height: 1.2; color: #0C1014; font-weight: 700; margin: 0;">Hi <%= @email %>,</p>
        <% if @status == "success" %>
          <p>Your import is successfully completed.</p>
        <% elsif @total_records_count != @error_records_count && @error_records_count > 0  %>
          <p>Your import is successfully completed, Only <%= (@total_records_count - @error_records_count) %> out of <%= @total_records_count %> users were added successfully.</p>
        <% elsif @headers == true %>
          <p>Invalid headers. Please add a valid headers to your csv file.</p>
        <% else %>
          <p>Your import is failed due to some errors. Please refer the attached csv for more information out of <%= @total_records_count %> records <%= @error_records_count %> failed.</p>
        <% end %>
      </td>
    </tr>

    <tr>
      <td style="padding-top: 30px">
        <p style="font-size: 18px;line-height: 1.5;color: #515759; font-weight: 300; margin: 0;">Thanks,</p>
        <p style="font-size: 18px;line-height: 1.5;color: #515759;margin: 0;"><strong>The SoVocal Team</strong></p>
      </td>
    </tr>
    </tbody>
  </table>
</div>
