<section class="auth">
  <div class="container-fluid">
    <div class="row auth-wrap">
      <div class="col-md-12 col-lg-6 col-sm-12 position-relative left-column">

        <div class="signInFormAr authentication-container">
          <div class="signInFormWrap">
            <div class="container-wrap">
              <h2 class="formTitle">Let's Sign You In</h2>
              <p class="formText">Enter your details below</p>

              <div class="formWrap">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: "sign-in", class: "needs-validation"}) do |f| %>

                  <div class="form-group required">
                    <label class="control-label" for="exampleInputEmail">Your email</label>
                    <%= f.email_field :email, class: "form-control", id: "exampleInputEmail", placeholder: "Email" %>
                  </div>

                  <div class="form-group required position-relative">
                    <label class="control-label" for="exampleInputPassword">Your password</label>
                    <%= f.password_field :password, class: "form-control password-field", id: "exampleInputPassword", placeholder: "Password" %>
                    <div class="text-right mb-3">
                      <a class="text-link" href="/users/password/new">Forgot password?</a>
                    </div>

                    <% if flash[:alert] == "Invalid Email or password." %>
                      <div>
                        <div class="invalid-feedback mt-2 position-relative">
                          <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.49988 6.12505V7.70838M8.49988 10.875H8.5078M3.01521 14.0417H13.9845C15.2037 14.0417 15.9653 12.722 15.3557 11.6667L9.87105 2.16671C9.26146 1.11142 7.7383 1.11142 7.12871 2.16671L1.64405 11.6667C1.03446 12.722 1.79605 14.0417 3.01521 14.0417Z" stroke="#FF3300" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                          <span>Incorrect email or password! Try again.</span>
                        </div>
                      </div>
                    <% end %>

                    <button class="btn toggleButton" type="button">
                    <span class="icon visible">
                        <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.8999 9.12C21.4767 3.492 16.9183 0 12 0C7.08171 0 2.5233 3.492 0.100147 9.12C0.0340939 9.2714 0 9.43481 0 9.6C0 9.76519 0.0340939 9.9286 0.100147 10.08C2.5233 15.708 7.08171 19.2 12 19.2C16.9183 19.2 21.4767 15.708 23.8999 10.08C23.9659 9.9286 24 9.76519 24 9.6C24 9.43481 23.9659 9.2714 23.8999 9.12ZM12 16.8C8.19732 16.8 4.59858 14.052 2.5233 9.6C4.59858 5.148 8.19732 2.4 12 2.4C15.8027 2.4 19.4014 5.148 21.4767 9.6C19.4014 14.052 15.8027 16.8 12 16.8ZM12 4.8C11.051 4.8 10.1233 5.08152 9.33419 5.60895C8.54511 6.13638 7.9301 6.88603 7.56692 7.76312C7.20375 8.6402 7.10873 9.60532 7.29387 10.5364C7.47901 11.4675 7.93601 12.3228 8.60707 12.9941C9.27813 13.6654 10.1331 14.1226 11.0639 14.3078C11.9947 14.493 12.9595 14.3979 13.8362 14.0346C14.713 13.6713 15.4624 13.0561 15.9897 12.2667C16.5169 11.4774 16.7983 10.5494 16.7983 9.6C16.7983 8.32696 16.2928 7.10606 15.3929 6.20589C14.4931 5.30571 13.2726 4.8 12 4.8ZM12 12C11.5255 12 11.0616 11.8592 10.6671 11.5955C10.2726 11.3318 9.96505 10.957 9.78346 10.5184C9.60187 10.0799 9.55436 9.59734 9.64694 9.13178C9.73951 8.66623 9.96801 8.23859 10.3035 7.90294C10.6391 7.5673 11.0666 7.33872 11.5319 7.24612C11.9973 7.15351 12.4797 7.20104 12.9181 7.38269C13.3565 7.56434 13.7312 7.87195 13.9948 8.26663C14.2585 8.66131 14.3992 9.12533 14.3992 9.6C14.3992 10.2365 14.1464 10.847 13.6965 11.2971C13.2465 11.7471 12.6363 12 12 12Z" fill="#6F6C99"/>
                        </svg>
                    </span>
                      <span class="icon hide">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd" stroke="#6F6C99" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" transform="translate(1 1)"><path d="M16.94 16.94A10.07 10.07 0 0111 19c-7 0-11-8-11-8a18.45 18.45 0 015.06-5.94M8.9 3.24A9.12 9.12 0 0111 3c7 0 11 8 11 8a18.5 18.5 0 01-2.16 3.19m-6.72-1.07a3 3 0 11-4.24-4.24M0 0l22 22"/></g></svg>
                    </span>
                    </button>
                  </div>

                  <% if devise_mapping.rememberable? %>
                    <div class="form-check position-relative">
                      <%= f.check_box :remember_me, class: "form-check-input", id: "exampleCheck1" %>
                      <span class="custom-checkbox"></span><span class="check-symbol"></span>
                      <label class="form-check-label control-label" for="exampleCheck1">Keep me signed in</label>
                    </div>
                  <% end %>

                  <div class="buttonWrap">
                    <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
                    <a class="btn btn-outline-primary btn-block" href="/users/sign_up" role="button">Sign Up</a>
                  </div>

                <% end %>
              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="col-md-12 col-sm-12 col-lg-6 position-relative px-0 bg-linear">
        <%= render "devise/shared/right_side_content" %>
      </div>
    </div>
  </div>
</section>



