<div class="profile-wrap">
  <div class="title-wrap">
    <h6 class="title">Billing Settings</h6>
    <p class="text">Edit any of your details by changing the relevant field below.</p>
  </div>
  <div class="billing-wrap">
    <div class="user-available-wrap">
      <% if current_company.active? %>
        <p class="second-lev-title">Next billing date</p>
        <p class="count"><%= current_company.next_billing_date&.strftime("%d-%m-%Y") %></p>
      <% else %>
        <p class="second-lev-title">Your validity of the Subscription will expire in</p>
        <p class="count"><%=  current_company.subscription_days_left %> days</p>
      <% end %>
      <p class="second-lev-title mt-3">Number of users available</p>
      <p class="count"><%= current_company.users.count %></p>
      <% if current_company.billable? %>
      <p class="second-lev-title mt-3">Monthly subscription total</p>
      <p class="count">$ <%= current_company.charged_amount %></p>
      <% end %>
      <% if current_company.user_limit_warning == current_company.users.count && current_company.sales_led? %>
        <p class="error-msg d-flex align-items-center">
        <span class="icon">
          <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.8334 9.83366C10.8334 10.2937 10.4601 10.667 10.0001 10.667C9.54009 10.667 9.16675 10.2937 9.16675 9.83366V6.50033C9.16675 6.04033 9.54009 5.66699 10.0001 5.66699C10.4601 5.66699 10.8334 6.04033 10.8334 6.50033V9.83366ZM10.0001 13.167C9.54009 13.167 9.16675 12.7937 9.16675 12.3337C9.16675 11.8737 9.54009 11.5003 10.0001 11.5003C10.4601 11.5003 10.8334 11.8737 10.8334 12.3337C10.8334 12.7937 10.4601 13.167 10.0001 13.167ZM18.8009 12.5862L12.4076 1.98699C11.9084 1.16033 11.0084 0.666992 10.0001 0.666992C8.99176 0.666992 8.09176 1.16033 7.59259 1.98699L1.19926 12.5862C0.725922 13.372 0.711755 14.317 1.16176 15.1137C1.64426 15.9695 2.58176 16.5003 3.60676 16.5003H16.3934C17.4184 16.5003 18.3559 15.9695 18.8384 15.1137C19.2884 14.317 19.2743 13.372 18.8009 12.5862Z" fill="url(#paint0_linear_1453_476)"/>
            <defs>
              <linearGradient id="paint0_linear_1453_476" x1="10.0001" y1="0.666992" x2="10.0001" y2="16.5003" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FF5959"/>
                <stop offset="1" stop-color="#EF2C2C"/>
              </linearGradient>
            </defs>
          </svg>
        </span>
          <span class="text">You have almost reached your user limit</span>
        </p>
      <% end %>
      <a data-turbolinks="false" href="/members" class="btn btn-primary">Add Additional Users</a>
    </div>
    <div class="form-wrap">
      <div class="card_names">
        <p>
          <span class="text">Credit or debit card information</span>
        </p>
        <div class="card_logos">
          <span>
            <svg width="26" height="9" viewBox="0 0 26 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.3094 8.08156H4.12534L2.48756 1.83332C2.40982 1.5459 2.24476 1.29181 2.00197 1.17205C1.39606 0.871095 0.728377 0.631579 0 0.51078V0.270223H3.51836C4.00394 0.270223 4.36813 0.631579 4.42883 1.05125L5.2786 5.55831L7.4616 0.270223H9.58497L6.3094 8.08156ZM10.7989 8.08156H8.73626L10.4347 0.270223H12.4974L10.7989 8.08156ZM15.166 2.43422C15.2267 2.0135 15.5909 1.77295 16.0158 1.77295C16.6834 1.71255 17.4108 1.83335 18.0177 2.13326L18.3819 0.451444C17.7749 0.210887 17.1073 0.0900879 16.5014 0.0900879C14.4994 0.0900879 13.0426 1.17207 13.0426 2.67373C13.0426 3.81612 14.0745 4.41595 14.8029 4.77731C15.5909 5.13762 15.8944 5.37818 15.8337 5.73849C15.8337 6.27896 15.2267 6.51952 14.6208 6.51952C13.8924 6.51952 13.164 6.33936 12.4974 6.03841L12.1332 7.72127C12.8616 8.02118 13.6496 8.14198 14.378 8.14198C16.6227 8.20134 18.0177 7.12039 18.0177 5.49794C18.0177 3.45476 15.166 3.335 15.166 2.43422ZM25.2366 8.08156L23.5988 0.270223H21.8396C21.4754 0.270223 21.1112 0.51078 20.9898 0.871095L17.9571 8.08156H20.0804L20.5043 6.94021H23.1132L23.356 8.08156H25.2366ZM22.143 2.37382L22.749 5.31778H21.0505L22.143 2.37382Z" fill="#172B85"/>
            </svg>
          </span>
          <span>
            <svg width="24" height="15" viewBox="0 0 24 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8821 12.5224C10.6547 13.5816 9.06262 14.221 7.32286 14.221C3.4409 14.221 0.293945 11.0375 0.293945 7.11051C0.293945 3.18349 3.4409 0 7.32286 0C9.06262 0 10.6547 0.639407 11.8821 1.69859C13.1095 0.639407 14.7017 0 16.4414 0C20.3234 0 23.4703 3.18349 23.4703 7.11051C23.4703 11.0375 20.3234 14.221 16.4414 14.221C14.7017 14.221 13.1095 13.5816 11.8821 12.5224Z" fill="#ED0006"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8821 12.5224C13.3934 11.2182 14.3517 9.27756 14.3517 7.11051C14.3517 4.94346 13.3934 3.00283 11.8821 1.69863C13.1095 0.639424 14.7016 0 16.4414 0C20.3234 0 23.4703 3.18349 23.4703 7.11051C23.4703 11.0375 20.3234 14.221 16.4414 14.221C14.7016 14.221 13.1095 13.5816 11.8821 12.5224Z" fill="#F9A000"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8822 12.5225C13.3935 11.2183 14.3518 9.27766 14.3518 7.11061C14.3518 4.94356 13.3935 3.00293 11.8822 1.69873C10.3709 3.00293 9.4126 4.94356 9.4126 7.11061C9.4126 9.27766 10.3709 11.2183 11.8822 12.5225Z" fill="#FF5E00"/>
            </svg>
          </span>
          <span>
            <svg width="29" height="11" viewBox="0 0 29 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0.368652 7.90413C0.387513 7.80278 0.404786 7.70462 0.421719 7.6084L0.42172 7.60839C0.447891 7.45966 0.473248 7.31556 0.502399 7.17145C0.625858 6.51961 0.750174 5.86862 0.874491 5.21764C0.998805 4.56666 1.12312 3.91569 1.24658 3.26385C1.26372 3.1813 1.28773 3.12626 1.37003 3.1125C2.01133 3.01619 2.65606 2.94739 3.29735 3.10906C3.85634 3.24665 4.24729 3.64223 4.31245 4.1066C4.4462 5.0319 3.90778 5.77146 3.10874 6.03632C2.68692 6.17391 2.25825 6.20831 1.82271 6.16703C1.71983 6.15672 1.68897 6.18423 1.67182 6.28399C1.57923 6.78964 1.4832 7.29185 1.38375 7.79405C1.37689 7.83533 1.33917 7.90069 1.31516 7.90069C1.0821 7.90583 0.852852 7.90521 0.614577 7.90457H0.614504H0.614431H0.614358H0.614284H0.614209C0.533558 7.90435 0.451872 7.90413 0.368652 7.90413ZM2.03846 5.35192H2.03847H2.03848H2.03848H2.03848H2.03848H2.03849C2.17262 5.35557 2.29929 5.35901 2.42279 5.34499C2.77945 5.30715 3.06409 5.14548 3.22527 4.80494C3.40703 4.41969 3.27671 4.01035 2.93377 3.88996C2.69028 3.80397 2.43994 3.82116 2.18959 3.85556C2.15873 3.859 2.11757 3.90716 2.11072 3.93812C2.06275 4.19019 2.01479 4.44335 1.96503 4.70601L1.96501 4.70615L1.84322 5.34843C1.91025 5.34843 1.97517 5.3502 2.03843 5.35192H2.03844H2.03845H2.03846H2.03846ZM6.44896 7.24373C6.3947 7.30033 6.34387 7.35728 6.29419 7.41294C6.18689 7.53316 6.08497 7.64736 5.96542 7.73906C5.60533 8.01768 5.1938 8.0796 4.77885 7.88697C4.36732 7.69778 4.19928 7.32972 4.18213 6.89631C4.14441 5.98477 4.46334 5.23145 5.2281 4.70861C5.70821 4.37839 6.26034 4.27863 6.83305 4.30959C7.0225 4.32077 7.21049 4.35374 7.39892 4.38679C7.50043 4.40459 7.60206 4.42241 7.70412 4.43686C7.82072 4.45406 7.83786 4.51942 7.81729 4.61917C7.78976 4.76302 7.76193 4.90672 7.73412 5.05033L7.73412 5.05035L7.73411 5.05037C7.63024 5.58668 7.52661 6.12175 7.44005 6.65897C7.39041 6.9665 7.37061 7.28151 7.351 7.59339V7.5934L7.35099 7.5936L7.35098 7.59378L7.35097 7.59396C7.34756 7.64817 7.34415 7.70229 7.3406 7.75626C7.33374 7.86633 7.30631 7.91105 7.19314 7.90761C6.98052 7.90073 6.76789 7.90073 6.55527 7.90761C6.44553 7.91105 6.40781 7.86977 6.4181 7.76314C6.42789 7.64529 6.43418 7.52394 6.44073 7.39783L6.44073 7.39776L6.44073 7.39773C6.44336 7.34718 6.44602 7.29588 6.44896 7.24373ZM6.68896 5.11791C6.35631 5.02503 6.07853 5.09039 5.84533 5.28646C5.40637 5.65796 5.20747 6.13953 5.24519 6.71397C5.25548 6.8894 5.32407 7.05795 5.50925 7.13362C5.69444 7.2093 5.86248 7.15426 6.00652 7.03043C6.09225 6.95476 6.17456 6.86876 6.23628 6.77245C6.47817 6.40213 6.54425 5.98441 6.61137 5.56011C6.63465 5.41293 6.65805 5.26496 6.68896 5.11791ZM11.5484 7.04422C11.737 7.64962 12.2549 7.98672 13.1636 7.98672C13.7878 7.96952 14.4085 7.61522 14.796 6.88599C15.0018 6.49385 15.0772 6.0742 15.0498 5.63391C15.0258 5.21081 14.8578 4.85307 14.5148 4.59853C14.1547 4.33023 13.7432 4.27519 13.3042 4.32335C11.8365 4.48846 11.2363 6.04668 11.5484 7.04422ZM12.525 6.53908L12.525 6.53896C12.5254 6.52143 12.5257 6.50402 12.5257 6.48698C12.536 6.09141 12.632 5.72335 12.8687 5.39657C12.975 5.2521 13.1087 5.14202 13.2871 5.10075C13.6506 5.01819 13.9489 5.22802 13.9832 5.62359C14.0244 6.1086 13.9078 6.55578 13.6026 6.94447C13.486 7.08894 13.3385 7.1887 13.1499 7.2059C12.8104 7.23686 12.5532 7.00639 12.5257 6.64521C12.5234 6.6107 12.5242 6.57465 12.525 6.53912V6.53911V6.5391V6.53909V6.53908ZM15.866 4.39557H16.7371C16.7233 4.58132 16.7096 4.76019 16.6925 4.9425C16.7242 4.91283 16.755 4.88351 16.7851 4.85477L16.7851 4.85475C16.8493 4.79352 16.9107 4.73491 16.9737 4.68107C17.3132 4.38525 17.7007 4.25454 18.15 4.32677C18.5203 4.38869 18.7775 4.66043 18.8187 5.04225C18.8634 5.43955 18.7891 5.82492 18.715 6.20946L18.6987 6.29433C18.6688 6.44947 18.6393 6.6046 18.6098 6.75964L18.6096 6.76049L18.6094 6.76154L18.6091 6.76297L18.609 6.7637L18.609 6.76383C18.5438 7.10583 18.4788 7.44733 18.4106 7.7872C18.4003 7.83192 18.3489 7.89728 18.3146 7.90072C18.0197 7.90759 17.7247 7.90415 17.4298 7.90072H17.4298C17.4199 7.90072 17.41 7.89535 17.395 7.88721L17.3831 7.88085L17.3749 7.87664C17.4298 7.59113 17.4847 7.30219 17.5361 7.01325C17.615 6.56952 17.6904 6.12922 17.759 5.68549C17.7727 5.60982 17.7659 5.5307 17.7556 5.45503C17.7281 5.19016 17.5327 5.06977 17.2789 5.14888C17.032 5.228 16.8845 5.42063 16.7645 5.63389C16.5862 5.94692 16.5244 6.29433 16.4627 6.64175L16.4167 6.89967C16.3642 7.19443 16.3119 7.48807 16.2535 7.78376C16.2432 7.82848 16.1918 7.89728 16.1575 7.90072C15.917 7.90894 15.6744 7.90842 15.4157 7.90788H15.4156H15.4156H15.4156L15.2144 7.90759C15.4407 6.72431 15.6534 5.5651 15.866 4.39557ZM20.8112 7.18525C20.4477 7.14054 20.2042 6.88599 20.2282 6.52825C20.304 6.52825 20.3795 6.52941 20.4545 6.53057C20.6035 6.53285 20.751 6.53512 20.8969 6.52825C21.2501 6.50762 21.5965 6.44914 21.9189 6.28747C22.3304 6.08108 22.5224 5.74054 22.4916 5.29681C22.4607 4.8462 22.2172 4.51942 21.7817 4.38871C21.1301 4.19264 20.53 4.33023 20.019 4.76708C19.3983 5.29681 19.1651 5.99853 19.2542 6.8C19.316 7.36756 19.6246 7.77346 20.187 7.91793C20.7906 8.07272 21.3839 7.99016 21.9566 7.75626C21.9977 7.73906 22.0458 7.6737 22.0423 7.63243C22.0341 7.46458 22.0171 7.29674 22.0001 7.1289L21.9875 7.00295C21.9762 7.00295 21.9678 7.00237 21.9614 7.00192C21.9521 7.00128 21.9469 7.00092 21.9429 7.00295L21.9428 7.00295C21.9051 7.01671 21.8674 7.03047 21.8331 7.04422C21.5039 7.1715 21.1644 7.22653 20.8112 7.18525ZM21.3426 5.66144C21.1334 5.77151 20.5916 5.83687 20.3275 5.78183C20.3824 5.32434 20.8659 4.9666 21.274 5.06635C21.4112 5.10075 21.5106 5.17299 21.5346 5.3209C21.5586 5.46537 21.4866 5.58576 21.3426 5.66144ZM23.6542 6.54198C23.6233 6.87908 23.8634 7.13706 24.2303 7.18522C24.5732 7.2265 24.9025 7.1749 25.2248 7.05795C25.2545 7.04677 25.2832 7.03559 25.3148 7.02332C25.3414 7.01294 25.3701 7.00177 25.4031 6.98915C25.4099 7.062 25.4173 7.13338 25.4246 7.20378L25.4246 7.20387C25.4398 7.34952 25.4545 7.49096 25.4614 7.63239C25.4649 7.67367 25.4169 7.73903 25.3791 7.75623C24.7961 7.99701 24.196 8.07957 23.5821 7.91102C23.03 7.75966 22.7419 7.35721 22.6734 6.80684C22.5876 6.10169 22.7694 5.46533 23.2598 4.94248C23.7879 4.38179 24.4361 4.18229 25.1837 4.38867C25.6398 4.51594 25.8833 4.84616 25.9107 5.31054C25.9381 5.76459 25.7324 6.10513 25.3037 6.30463C24.8716 6.50414 24.4121 6.5351 23.9457 6.54542C23.8531 6.54198 23.757 6.54198 23.6542 6.54198ZM23.7536 5.80934C23.8159 5.80543 23.8772 5.80235 23.9376 5.79932C24.0897 5.79168 24.2363 5.78432 24.3811 5.76462C24.5183 5.74742 24.6555 5.70615 24.7789 5.64767C24.9127 5.58919 24.9778 5.46536 24.9573 5.31401C24.9367 5.16954 24.8407 5.10074 24.7069 5.06634C24.3023 4.95627 23.7981 5.32777 23.7536 5.80934ZM26.0994 7.18526C26.0548 7.41916 26.0136 7.64963 25.969 7.90417C26.0377 7.90417 26.1054 7.90431 26.1723 7.90445C26.4362 7.905 26.6879 7.90553 26.9396 7.89729C26.9636 7.89729 27.0013 7.83194 27.0081 7.79066C27.0431 7.61886 27.0756 7.4462 27.108 7.2736C27.1678 6.95547 27.2275 6.6375 27.3031 6.32531C27.4711 5.63047 27.7558 5.38969 28.4313 5.30025C28.4588 5.29681 28.5034 5.26586 28.5102 5.24178C28.5533 5.04406 28.5918 4.84485 28.6318 4.63818C28.6524 4.53203 28.6733 4.42392 28.6954 4.31304C28.0438 4.24424 27.6803 4.62262 27.3648 5.08699L27.3698 5.02023C27.3853 4.81473 27.4011 4.6056 27.4197 4.38527C27.3484 4.38527 27.2784 4.38505 27.2094 4.38483C27.0063 4.38419 26.8118 4.38358 26.6172 4.38871C26.5898 4.39215 26.5383 4.45407 26.5349 4.4919C26.4617 5.376 26.2885 6.24067 26.1155 7.10476L26.0994 7.18526Z" fill="black"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M17.0197 0.245847C16.985 0.236657 16.9502 0.227466 16.9155 0.219727C16.8092 0.219727 16.7029 0.219727 16.5897 0.223166C16.5511 0.230921 16.5124 0.239374 16.4735 0.247897C16.426 0.258276 16.3781 0.268758 16.3291 0.278203C15.8044 0.377957 15.3106 0.560266 14.8339 0.801051C13.8016 1.3239 12.8757 2.00154 12.0458 2.80301C11.4937 3.33273 10.9587 3.88654 10.4408 4.45411C9.53205 5.45164 8.75358 6.54894 8.13286 7.75286C7.81392 8.37546 7.52585 9.01182 7.39554 9.70322C7.37153 9.83049 7.41268 9.9784 7.45384 10.1057C7.47098 10.1573 7.56701 10.1951 7.63217 10.2158C7.64931 10.2226 7.70075 10.1366 7.72476 10.0885C7.73328 10.0698 7.74201 10.0507 7.75093 10.0312C7.89986 9.70489 8.10126 9.2637 8.27598 8.9716C8.64636 8.35244 8.93876 7.87325 9.35372 7.28505C10.019 6.33911 10.7964 5.41099 11.6126 4.59232C12.3842 3.81837 13.1569 3.12635 14.1274 2.6035C14.5733 2.36615 15.0294 2.13225 15.4958 1.93962C16.3017 1.60596 17.1419 1.37894 18.0061 1.25166C18.0987 1.2379 18.2221 1.16567 18.253 1.08999C18.2804 1.0212 18.2153 0.890485 18.1501 0.825129C17.886 0.553386 17.5774 0.346999 17.1933 0.285083C17.1354 0.276483 17.0776 0.261165 17.0197 0.245847ZM9.16863 4.93917C9.33324 4.49199 9.41555 4.02762 9.42584 3.54605C9.42126 3.49445 9.41745 3.44286 9.41364 3.39126C9.40602 3.28807 9.3984 3.18487 9.38468 3.08168C9.29209 2.28365 8.94915 1.60601 8.40388 1.02469C8.33872 0.95933 8.24955 0.907733 8.16039 0.876775C8.07123 0.842377 8.01293 0.893974 8.01978 0.997167L8.02029 1.00371C8.02698 1.09113 8.03392 1.18165 8.05065 1.26891C8.07474 1.40636 8.09867 1.54398 8.12262 1.6817C8.20773 2.1712 8.29305 2.66189 8.38673 3.15047C8.47932 3.64236 8.58221 4.13081 8.69195 4.61582C8.72967 4.77062 8.7914 4.92541 8.86684 5.06988C8.92514 5.17995 9.00745 5.16963 9.0829 5.06988C9.11719 5.0286 9.15148 4.98732 9.16863 4.93917Z" fill="#FC461E"/>
            </svg>
          </span>
          <span>
            <svg width="24" height="15" viewBox="0 0 24 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.6799 7.11051C14.6799 11.0375 11.533 14.221 7.65099 14.221C3.76902 14.221 0.62207 11.0375 0.62207 7.11051C0.62207 3.18349 3.76902 0 7.65099 0C11.533 0 14.6799 3.18349 14.6799 7.11051Z" fill="#ED0006"/>
              <path d="M23.7986 7.11051C23.7986 11.0375 20.6516 14.221 16.7696 14.221C12.8877 14.221 9.74072 11.0375 9.74072 7.11051C9.74072 3.18349 12.8877 0 16.7696 0C20.6516 0 23.7986 3.18349 23.7986 7.11051Z" fill="#0099DF"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2103 12.5225C13.7216 11.2183 14.6799 9.27766 14.6799 7.11061C14.6799 4.94356 13.7216 3.00293 12.2103 1.69873C10.699 3.00293 9.74072 4.94356 9.74072 7.11061C9.74072 9.27766 10.699 11.2183 12.2103 12.5225Z" fill="#6C6BBD"/>
            </svg>
          </span>
        </div>
      </div>
      <%= form_for @new_card, url: billings_path, html: { id: "new-card-form" }, method: :post do |form| %>
        <div class="mt-4">
          <div class="form-group required">
            <label class="control-label">Card Number</label>
            <div id="card-number"></div>
          </div>

          <%= form.hidden_field :last_four_digits %>
          <%= form.hidden_field :expiry %>
          <%= form.hidden_field :token %>
          <%= form.hidden_field :stripe_card_id %>

          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="form-group required">
                <label class="control-label">Expiration</label>
                <div id="card-expiry"></div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group required">
                <label class="control-label">CVC</label>
                <div id="card-cvc"></div>
              </div>
            </div>
          </div>
        </div>
        <p class="card-secure-text">
        <span class="icon">
          <svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.4583 6.08342H12.1667C12.3545 6.08342 12.5347 6.15804 12.6675 6.29088C12.8004 6.42372 12.875 6.60389 12.875 6.79175V13.8751C12.875 14.0629 12.8004 14.2431 12.6675 14.3759C12.5347 14.5088 12.3545 14.5834 12.1667 14.5834H0.833333C0.645472 14.5834 0.465304 14.5088 0.332466 14.3759C0.199628 14.2431 0.125 14.0629 0.125 13.8751V6.79175C0.125 6.60389 0.199628 6.42372 0.332466 6.29088C0.465304 6.15804 0.645472 6.08342 0.833333 6.08342H1.54167V5.37508C1.54167 4.72394 1.66992 4.07918 1.9191 3.47761C2.16828 2.87604 2.5335 2.32943 2.99393 1.86901C3.45435 1.40859 4.00095 1.04336 4.60253 0.794179C5.2041 0.544999 5.84886 0.416748 6.5 0.416748C7.15114 0.416748 7.7959 0.544999 8.39747 0.794179C8.99904 1.04336 9.54565 1.40859 10.0061 1.86901C10.4665 2.32943 10.8317 2.87604 11.0809 3.47761C11.3301 4.07918 11.4583 4.72394 11.4583 5.37508V6.08342ZM10.0417 6.08342V5.37508C10.0417 4.43577 9.66853 3.53494 9.00434 2.87074C8.34015 2.20655 7.43931 1.83341 6.5 1.83341C5.56069 1.83341 4.65985 2.20655 3.99566 2.87074C3.33147 3.53494 2.95833 4.43577 2.95833 5.37508V6.08342H10.0417ZM5.79167 8.91675V11.7501H7.20833V8.91675H5.79167Z" fill="#C0C0C0"/>
          </svg>
        </span>
          <span class="text">Your transaction is secured with SSL encryption</span>
        </p>
        <button type="submit" class="btn btn-primary">Update Information</button>
        </div>
      <% end %>

      <div>
        <%= form_for current_company, url: cancel_subscription_billings_path, html: { id: "update-subscription" }, method: :put do |form| %>
          <% if current_company.active? %>
            <%= form.hidden_field :subscription_status, value: "cancelled" %>
            <%= form.hidden_field :subscription_cancelled_at, value: Date.current %>
            <%= form.submit "Cancel subscription", class: "btn btn-danger" %>
          <% else %>
            <%= form.hidden_field :subscription_status, value: "active" %>
            <%= form.hidden_field :subscription_cancelled_at, value:  "" %>
            <%= form.submit "Renew subscription", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
      </div>
</div>
