<div class="post-list position-relative">
  <% if @posts.size > 0 %>
    <!-- class="empty-post" for empty layout -->
    <div class="title_wrap">
      <h3 class="title">Hi <%= current_user.first_name %>! Here are your posts</h3>
    </div>
    <div class="list">
      <form id="posts-search-form" method="get" action="/posts">
        <div class="form-group search-wrap position-relative">
            <span class="icon">
                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="14.5" cy="14.5" r="9.5" stroke="#6ABEF8" stroke-width="2"/>
                    <path d="M21 22L25.7929 26.7929" stroke="#6ABEF8" stroke-width="2"/>
                </svg>
            </span>
          <input type="text" class="form-control" id="search-bar" name="search" placeholder="Search for posts..."/>
        </div>
      </form>

      <div class="row">
        <div class="col-6 left-column">
          <div class="dropdown form-group">
            <label class="tag-label">Tags</label>
            <form action="/posts" method="get">
              <select id="customSelectPostTag">
                <% current_company.tags.each do |tag| %>
                  <option value="<%= tag.id %>"><%= tag.name %></option>
                <% end %>
              </select>
            </form>
          </div>
        </div>
        <div class="col-6 right-column">
          <div class="tags-list">
            <label class="tag-label">Selected Tags</label>
            <div class="badge_wrap" id="selected_post_tag"></div>
          </div>
        </div>
      </div>

      <div id="posts-list">
        <%= render "posts/partials/index" %>
      </div>

    </div>
  <% else %>
    <%= render "posts/partials/no_posts" %>
  <% end %>
</div>


<script>

    $(document).ready(function () {
        <% @posts.each do |post| %>
        $(document).on("click", "#post-edit-delete-<%= post.id %>", function () {
            var classes = $("#post-cards-<%= post.id %>").attr("class")

            if (classes.split(" ").includes('show-post-option')) {
                $("#post-cards-<%= post.id %>").removeClass("show-post-option")
            } else {
                $("#post-cards-<%= post.id %>").addClass("show-post-option")
            }
        })

        $("#post-next-commentry-<%= post.id %>").click(function () {
            <%= "post_commentry_button_#{post.id}" %>("next")
        })

        $("#post-previous-commentry-<%= post.id %>").click(function () {
            <%= "post_commentry_button_#{post.id}" %>("prevoius")
        })

        function <%= "post_commentry_button_#{post.id}" %>(button) {

            var <%= "cycle_count_#{post.id}" %> = button == "next" ? (parseInt($("#post-commetries-count-<%= post.id %>").text()) + 1) : (parseInt($("#post-commetries-count-<%= post.id %>").text()) - 1)
            $("#post-commetries-count-<%= post.id %>").text(<%= "cycle_count_#{post.id}" %>)

            $(".comment-<%= post.id %>").empty()
            var <%= "commentries_#{post.id}" %> = []

            <% post.commentries.each do |commentry| %>
              <%= "commentries_#{post.id}" %>.push("<%= commentry.description %>")
            <% end %>

            var <%= "comment_count_#{post.id}" %> = <%= "cycle_count_#{post.id}" %> - 1
            if ("<%= "comment_count_#{post.id}" %>" == 0) {
                $(".post-commentries-previous-button-<%= post.id %>").addClass("single_button")
                $(".comment-<%= post.id %>").append(<%= "commentries_#{post.id}" %>[<%= "comment_count_#{post.id}" %>])
            } else {
                $(".post-commentries-previous-button-<%= post.id %>").removeClass("single_button")
                $(".comment-<%= post.id %>").append(<%= "commentries_#{post.id}" %>[<%= "comment_count_#{post.id}" %>])
            }

            if (<%= "cycle_count_#{post.id}" %> >= <%= post.commentries.size %>) {
                $("#post-next-commentry-<%= post.id %>").hide()
                $("#post-previous-commentry-<%= post.id %>").show()
            } else if(<%= "cycle_count_#{post.id}" %> <= 1) {
                $("#post-previous-commentry-<%= post.id %>").hide()
                $("#post-next-commentry-<%= post.id %>").show()
            }else {
                $("#post-previous-commentry-<%= post.id %>").show()
                $("#post-next-commentry-<%= post.id %>").show()
            }
        }

        <% end %>


        $('#posts-search-form #search-bar').keyup(function () {
            $.get($("#posts-search-form").attr("actions"), $("#posts-search-form").serialize(), null, "script")
        })
    })
</script>