<div class="post-create-wrap">
  <h4 class="section-title">Create your post</h4>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 inner-wrap position-relative">
      <div id="post-form">
        <%= render "posts/partials/form" %>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 inner-wrap">
      <p class="control-label">Preview</p>
      <div id="preview-post">
        <%= render "posts/partials/empty_preview" %>
      </div>
    </div>
  </div>
</div>

<script>
    $('#preview-post').html("<%= escape_javascript (render partial: 'posts/partials/empty_preview') %>");

    <% unless @post.new_record? %>
      <% @post.tags.each do |tag| %>
        $("#close_icon-<%= tag.id %>").click(function () {
            var id_remove = $("#edit-form-tag-id-<%= tag.id %>").val()
            $("#edit-remove-tag-<%= tag.id %>").remove()
            var tag_ids = <%= @post.tag_ids %>
            $("#posts-tags-ids").val(tag_ids.pop(id_remove))
        })
      <% end %>
    <% end %>
</script>

<%= render "posts/partials/shared_javascript" %>