<div class="post-create-wrap">
  <h4 class="section-title">Create your post</h4>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 inner-wrap position-relative">
      <div id="post-form">
        <%= render "posts/partials/form" %>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 inner-wrap">
      <p class="control-label">Preview</p>
      <div id="preview-post">
        <%= render "posts/partials/empty_preview" %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

    $('#preview-post').html("<%= escape_javascript (render partial: 'posts/partials/empty_preview') %>");

    $(document).on("keyup", "#post_title", function () {
        if ($(this).val().length > 0) {
            $('#preview-post').html("<%= escape_javascript (render partial: 'posts/partials/preview_post') %>");
            $("p#preview-post-comment").text($("#post_commentries_attributes_0__description").val())

            $("#post_image")[0].files[0] ? $("#preview-post-image").attr("src", URL.createObjectURL($("#post_image")[0].files[0])) : $("#preview-post-image").attr("src", "<%= asset_path("post.png") %>")

        } else {
            $('#preview-post').html("<%= escape_javascript (render partial: 'posts/partials/empty_preview') %>");
        }
    })

    $(document).on("keyup", "#post_main_url", function (){
        $("#preview-post-link").empty()
        var name = $(this).val().replace("http://", "")
        $("#preview-post-link").append("<a href=" + $(this).val() + " class='post-link'>" + name + "</a>")
    })

    $(document).on("keyup", "#post_commentries_attributes_0__description", function () {
        $("p#preview-post-comment").text($(this).val())
    })

    $("#post_image").change(function () {
        var file = $(this)[0].files[0]
        $("#preview-post-image").attr("src", URL.createObjectURL(file))
    })

    $(document).ready(function (){
        $("#post_tag_ids").select2({
            placeholder: 'Select Tags',
            containerCssClass: "form-control"
        })
    })

</script>