<!DOCTYPE html>
<html>
  <head>
     <title>SoVocal</title>
     <meta name="viewport" content="width=device-width,initial-scale=1">
     <%= csrf_meta_tags %>
     <%= csp_meta_tag %>

    <%= favicon_link_tag 'logo_favicon.png', rel: 'icon', type: 'image/png', sizes: '16x16' %>

     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <% if controller_name == "registrations" || controller_name == "sessions" %>
       <script src="https://js.stripe.com/v3/"></script>
     <% end %>
     <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <% if current_user.present? %>
       <% if controller_name == "members" && action_name == "confirm_sign_up" %>
         <%= yield %>
       <% else %>
          <div>
            <div class="sideBar">
              <%= render "shared/sidebar" %>
            </div>
            <div class="dashboard_wrap position-relative">
              <% if flash[:notice].present? %>
                <%= render "shared/toaster_success" %>
              <% end %>
              <% if flash[:alert].present? %>
                <%= render "shared/toaster_alert" %>
              <% end %>
              <div id="alert-popup"></div>
             <%= yield %>
            </div>
          </div>
       <% end %>
     <% else %>
        <%= yield %>
     <% end %>
  </body>
</html>
